$dark-theme: #242424;
$light-theme: #FFFFFF;
$primary-theme: #151515;

.bg-light{
    background-color: $light-theme;
}

.bg-dark{
    background-color: $primary-theme;
}

.primary{
    background-color: $primary-theme;
    border: 0.1rem solid #f0e3e3;
}

.background{
    background-color: $light-theme;
    border: 0.05rem solid #979797;
}