html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
        title Responsive

    body.debug
        .w-60.w-80-ns.pv4-m.pv6-l.ph6-m.ph7-l.center
            .w-100-m.tc-m.ph5-l.fr-l
                img(src="globe.svg").w4.h4
            .w-100-m.ph4-m
                h1.f3.roboto The best website, ever.
                h3.f5.f4-ns.roboto.normal So simple. So blank. Nothing to love & nothing to hate 
                
        div.w-100.bg-dark-gray
            //- ul.center.list
            //-     li.dib-l
            //-         h2.f4.f3-ns.tc.white Simply stunning
            //-         p.tl.gray What can I say? This site is great. 
            //-     li.dib-l.white
            //-         h2.f4.f3-ns.tc.white Boring you say?
            //-         p.tl.gray I would have to disagree. This site is as exciting as the tooth fairy.
            //-     li.dib-l.white
            //-         h2.f4.f3-ns.tc.white Still boring?
            //-         p.tl.gray Listen here. Art is in the eye of the beholder. Back off. 