$primary-text-color: #000000;
$dark-gray-color: rgba(69, 69, 69, 0.87);
$dark-gray-color: rgba(23, 23, 23, 0.87);
$medium-blue-color: #3241D8;

h1 {
    color: $dark-gray-color;
    font-weight: 700;
    font-size: 3rem;
    @extend .f1; // Import other SASS classes written into this SASS class.
}

h2 {
    color: $primary-text-color;
    font-weight: 600;
    font-size: 1.8rem;
    @extend .f2; // Import other SASS classes written into this SASS class.
}

h3 {
    color: $dark-gray-color;
    font-weight: 500;
    font-size: 1.5rem;
    @extend .f3; // Import other SASS classes written into this SASS class.
}

h3-link, h3-link a, h3-link a:visited{
    color: $medium-blue-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    @extend .f3;
}

p {
    color: $dark-gray-color;
    font-size: 1rem;
    @extend .f5;
}