html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
        title Big Shadow Image

    body
        //- div.tc.z-1.ml7.pl7.mt6.fixed.f3.avenir Art
        //- div.tc.z-1.ml7.pl7.pt6.mt6.absolute.f3.white.avenir Is
        //- div.tc.z-1.ml7.pl7.pt7.mt6.absolute.f3.white.avenir Everywhere
        //- img(src="big_shadow.jpg").z-0.h-75.fixed.ml7.mt5.pl6

        div.mt5.h-75.w-60.fr.relative
            div.h-100.ml5.tc.absolute.left-2.top-0.z-1
                p.h-25.pt4.f3.avenir.normal Art
                p.h-25.pt5.f3.white.avenir.normal Is
                p.h-25.pt6.f3.white.avenir.normal Everywhere
            img(src="big_shadow.jpg").absolute.left-0.top-0.h-100
            
