html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
        title Lots of Texts

    body
        div.ml7.mt3.w-40.tl
            h1.f-subheadline.avenir Type something
        
        div.tc.dark-red.b.mt2.avenir Type something

        div.w-100.h-35.bg-light-green
            ul.tc.pt4.pb4
                li.dib.mr6.tl.f1 
                    p Type <br> something
                li.dib.mr6.tc.f1 
                    p Type <br> something
                li.dib.tr.f1    
                    p Type <br> something