html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
        title Responsive

    body
        div.h-25.pt5.pt5-ns.h-50-ns.w-60.w-50-m.w-40-l.center
            div.w-100-m.w-40-l.tc-m.fr-l.pl2-l.db-ns.dn
                img(src="globe.svg").w4.h4
            div.w-100-m.w-60-l.fl-l
                h1.f3.f3-m.f3-l.tc.tc-m.tl-l.pl1-m.roboto The best website, ever.
                h3.f5.f4-m.f4-l.tc.tl-ns.roboto.normal So simple. So blank. Nothing to love & nothing to hate
                
        div.h-75.h-50-ns.w-100.bg-dark-gray
            ul.pt5.w-60.w-50-m.pt3-m.w-90-l.pl7-l.pt3-l.center.list
                li.w-80.w-50-m.fl-m.w-20-l.mr5-l.dib-l
                    h2.f4.f3-ns.tc.white Simply stunning
                    p.tl.gray What can I say? This site is great. 
                li.w-80.mt5.w-50-m.mt6-m.fr-m.w-20-l.mr5-l.dib-l.white
                    h2.f4.f3-ns.tc.white Boring you say?
                    p.tl.gray I would have to disagree. This site is as exciting as the tooth fairy.
                li.w-80.mt5.w-50-m.mt6-m.fl-m.w-20-l.dib-l.dib-l.white
                    h2.f4.f3-ns.tc.white Still boring?
                    p.tl.gray Listen here. Art is in the eye of the beholder. Back off. 